<htmL>
  <head>
    <title>Flapper News</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>

    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/angularApp.config.js"></script>

    <script src="/javascripts/auth/auth.factory.js"></script>
    <script src="/javascripts/auth/auth.controller.js"></script>

    <script src="/javascripts/posts/posts.factory.js"></script>
    <script src="/javascripts/posts/posts-list.controller.js"></script>
    <script src="/javascripts/posts/post-detail.controller.js"></script>

    <script src="/javascripts/navbar/navbar.controller.js"></script>

    <style> .clickableSpan { cursor:pointer } </style>
  </head>

  <body ng-app="flapperNews">

    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logout()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </nav>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>

    <!-- Home Template -->
    <script type="text/ng-template" id="/home.html">
      <div class="page-header">
        <h1>Flapper News</h1>
      </div>

      <!-- List headers -->
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-success" ng-click="showNewPostForm = true">
            <span class="glyphicon glyphicon-plus"></span>
            Create a post
          </button>
        </div>

        <div class="col-md-6">
          <form class="right form-inline">
            <div class="form-group">
              Sort by : 
              <select ng-model="sortOrder" class="form-control">
                <option value="upvotes">Upvote</option>
                <option value="downvotes">Downvote</option>
                <option value="title">Title</option> 
              </select>
            </div>
            <div class="form-group">
              <button class="btn" ng-click="reverse = !reverse">
                <span class="glyphicon glyphicon-refresh"></span>
                Reverse order
              </button>
            </div>
          </form>
        </div>
      </div>


      <!-- New post form -->
      <div id="new-post" ng-show="showNewPostForm" class="panel panel-default">
        <div class="panel-heading clearfix">
          New post
          <div class="pull-right">
              <span class="glyphicon glyphicon-remove clickableSpan" ng-click="showNewPostForm = false"></span>
          </div>
        </div>

        <div class="panel-body">
          <form ng-show="isLoggedIn()">
            <div class="form-group">
              <input type="text" ng-model="title" placeholder="Title" class="form-control" />
            </div>
            <div class="form-group">
              <input type="text" ng-model="link" placeholder="Link" class="form-control" />
            </div>
          </form>

          <div ng-hide="isLoggedIn()">
            <h4>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h4>
          </div>
        </div>

        <div class="panel-footer clearfix" ng-show="isLoggedIn()">
          <div class="pull-right">
            <button ng-click="addPost()" class="btn btn-primary">Post</button>
            <button ng-click="showNewPostForm = false" class="btn">Cancel</button>
          </div>
        </div>
      </div>

      <div ng-repeat="post in posts | orderBy:sortOrder:reverse">
        <button ng-click="incrementUpvotes(post)" class="btn btn-sm btn-success">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <span class="badge">{{post.upvotes}}</span>
        </button>
        <button ng-click="incrementDownvotes(post)" class="btn btn-sm btn-danger"> 
          <span class="glyphicon glyphicon-thumbs-down"></span>
          <span class="badge">{{post.downvotes}}</span>
        </button>

        <span style="font-size: 20px; margin-left: 10px;">
          <a href="{{post.link}}" ng-show="post.link">{{post.title}}</a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
           | 
          <span ng-show="post.author" style="font-size: 16px;">
            posted by <a>{{post.author}}</a> |
          </span>
          <span style="font-size: 16px;">
            <a href="#/posts/{{post._id}}">Comments ({{post.comments.length}})</a>
          </span>
        </span>
      </div>
    </script>


    <!-- Post Template -->
    <script type="text/ng-template" id="/posts.html">
      <div class="page-header">
        <h3>
          <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
        </h3>
      </div>

      <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up"
          ng-click="incrementUpvotes(comment)"></span>
        {{comment.upvotes}} - by {{comment.author}}
        <span style="font-size:20px; margin-left:10px;">
          {{comment.body}}
        </span>
      </div>

      <hr/>

      <form ng-submit="addComment()" style="margin-top: 30px" ng-show="isLoggedIn()">
        <h3>Add a new comment</h3>
        <div class="form-group">
          <input type="test" ng-model="body" placeholder="Comment" class="form-control"/>
        </div>
        <button class="btn" ng-click="backToHome()">Back</button>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>

      <div ng-hide="isLoggedIn()">
        <h4>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a comment.</h4>
      </div>
    </script>


    <!-- Register template -->
    <script type="text/ng-template" id="/register.html">
      <div class="page-header">
        <h1>Flapper News</h1>
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="register()"
        style="margin-top:30px;">
        <h3>Register</h3>

        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Username"
          ng-model="user.username"></input>
        </div>
        <div class="form-group">
          <input type="password"
          class="form-control"
          placeholder="Password"
          ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </script>
    

    <!-- Login template -->
    <script type="text/ng-template" id="/login.html">
      <div class="page-header">
        <h1>Flapper News</h1>
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="login()"
        style="margin-top:30px;">
        <h3>Log In</h3>

        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Username"
          ng-model="user.username"></input>
        </div>
        <div class="form-group">
          <input type="password"
          class="form-control"
          placeholder="Password"
          ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </script>
  </body>
</html>
